
 <div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div>
            <label>Name : </label>
            <input formControlName="name">
        </div>
        <div>
            <label>Email : </label>
            <input formControlName="email">
        </div>
        <div>
            <label>Contact : </label>
            <input formControlName="contact">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div> -->

